* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* For only users of screen readers */
.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/* */

.responsive_container {
  padding-inline: 9vw;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
